<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.murrayc.galaxyzoo.app.libglom.test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

    </application>

    <!-- As suggested here:  https://www.chromium.org/chromium-os/android-apps -->
    <!-- Some Chromebooks don't support touch.
       It's very important to explicitly have this. -->
    <uses-feature android:name="android.hardware.touchscreen"
        required="false" />


</manifest>
