<?xml version="1.0" encoding="utf-8"?>
<!-- suppress CheckTagEmptyBody -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.murrayc.galaxyzoo.app" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
            android:name=".ListActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.murrayc.galaxyzoo.app.ClassifyActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murrayc.galaxyzoo.app.ClassifyActivity" />
        </activity>
        <activity
            android:name=".ClassifyActivity"
            android:label="@string/app_name" > <!-- We use the app name because this is the main activity. -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SubjectViewerActivity"
            android:label="@string/title_activity_subject_viewer"
            android:parentActivityName="com.murrayc.galaxyzoo.app.ListActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murrayc.galaxyzoo.app.ListActivity" />
        </activity>
        <activity
            android:name=".QuestionHelpActivity"
            android:label="@string/title_activity_question_help"
            android:parentActivityName="com.murrayc.galaxyzoo.app.ClassifyActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murrayc.galaxyzoo.app.ClassifyActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".ExampleViewerActivity"
            android:label="@string/title_activity_example_viewer"
            android:parentActivityName="com.murrayc.galaxyzoo.app.QuestionHelpActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murrayc.galaxyzoo.app.QuestionHelpActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <provider
            android:name=".provider.ItemsContentProvider"
            android:authorities="com.murrayc.galaxyzoo.app"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
