<?xml version="1.0" encoding="utf-8"?>
<!-- suppress CheckTagEmptyBody -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.murrayc.galaxyzoo.app" >

    <!-- TODO: We shouldn't need these after SDK version 18, but Android 5.0 "Lollipop" (API 21) seems
    to need them again.
    See https://github.com/murraycu/android-galaxyzoo/issues/5 . -->
    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To get our own account, created by us, though we don't need access to any other account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <!-- To use AccountManager.removeAccount(),
    though I don't know why we don't need this for addAccount(). -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>



    <!-- For the SyncAdapter. -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >

        <!-- We use launchMode="singleTop" because we don't need multiple instances of the list.
        Otherwise, Up would create a new instance, because Up is meant to ignore the back stack. -->
        <activity
            android:name=".ListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName="com.murrayc.galaxyzoo.app.ClassifyActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murrayc.galaxyzoo.app.ClassifyActivity" />
        </activity>

        <!-- We use the app name because this is the main activity. -->
        <!-- We use launchMode="singleTop" so the Up button (from the Help/Examples screen, for
        instance, takes us back without losing the half-done classification. Otherwise,
        Up would create a new instance, because Up is meant to ignore the back stack. -->
        <activity
            android:name=".ClassifyActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SubjectViewerActivity"
            android:label="@string/title_activity_subject_viewer"
            android:parentActivityName="com.murrayc.galaxyzoo.app.ListActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murrayc.galaxyzoo.app.ListActivity" />
        </activity>
        <activity
            android:name=".QuestionHelpActivity"
            android:label="@string/title_activity_question_help"
            android:parentActivityName="com.murrayc.galaxyzoo.app.ClassifyActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murrayc.galaxyzoo.app.ClassifyActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".ExampleViewerActivity"
            android:label="@string/title_activity_example_viewer"
            android:parentActivityName="com.murrayc.galaxyzoo.app.QuestionHelpActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murrayc.galaxyzoo.app.QuestionHelpActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="com.murrayc.galaxyzoo.app.SettingsActivity.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ItemsContentProvider"
            android:authorities="com.murrayc.galaxyzoo.app"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".syncadapter.AuthenticatorService"
            android:enabled="true"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />

        </service>

        <service
            android:name="com.murrayc.galaxyzoo.app.syncadapter.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
